# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Convert html-to-string'
      'command': 'htmlToString:convert'
    }
    {
      'label': 'Deconvert html-to-string'
      'command': 'htmlToString:deconvert'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'html-to-string'
      'submenu': [
        {
          'label': 'Convert'
          'command': 'htmlToString:convert'
        }
        {
          'label': 'Deconvert'
          'command': 'htmlToString:deconvert'
        }
      ]
    ]
  }
]
